
@media screen  and (max-width : 600px){
 
#container{ 
  
    height: 300px;
    width: 500px;
    
}

#left{
   
    height: 300px;
    width: 100px;
    margin: 20px;

}

#left-upper{
    font-size: 40px;
}

#left-down{
    position: relative;
    top:-50px;
    left:10px;
    font-size: 15px ;

}


#right{
   
    height: 300px;
    width: 400px;
  
 }

#right-upper{
    height: 50px;
    width: 400px;
    margin-top: 20px ;
}

.upper_01{
    font-size:15px;
}

#right-down{
 
    height: 250px;
    width: 400px;
   
    
}

.box{
    height: 200px;
    width: 133px;
    background-color:rgb(232, 237, 240);
    margin-bottom: 10px;
    border-radius: 20px;
    color: black;
}

.box:hover{
   background: black;
   color: white;
}

.box_01{
    position: relative;
    top:70px;
    margin-left: 10px;
}

.box_02{
    position: relative;
    top:70px;
    font-size: 15px;
    margin-left:10px ;
}

.box_03{
    position: relative;
    top:70px;
    font-size: 10px;  
    margin-left:10px ;
}
}